<config>
	<modules>
		<Plw_Suppliers>
			<version>0.0.1</version>
		</Plw_Suppliers>
	</modules>
	<admin>
		<routers>
			<suppliers>
				<use>admin</use>
				<args>
					<module>Plw_Suppliers</module>
					<frontName>suppliers</frontName>
				</args>
			</suppliers>
		</routers>
	</admin>
	<global>
		<rewrite>
			<myurl>
				<from><![CDATA[#^/projector-manual\/.*#]]></from>
				<to>projector-manual.php</to>
			</myurl>
		</rewrite>
		<models>
			<suppliers>
				<class>Plw_Suppliers_Model</class>
				<resourceModel>suppliers_mysql4</resourceModel>
			</suppliers>
			<suppliers_mysql4>
				<class>Plw_Suppliers_Model_Mysql4</class>
				<entities>
					<suppliers>
						<table>suppliers</table>
					</suppliers>
				</entities>
			</suppliers_mysql4>
		</models>
		<resources>
			<suppliers_write>
				<connection>
					<use>core_write</use>
				</connection>
			</suppliers_write>
			<suppliers_read>
				<connection>
					<use>core_read</use>
				</connection>
			</suppliers_read>
		</resources>
		<helpers>
			<suppliers>
				<class>Plw_Suppliers_Helper</class>
			</suppliers>
		</helpers>
		<blocks>
			<suppliers>
				<class>Plw_Suppliers_Block</class>
			</suppliers>
		</blocks>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<suppliers>
					<file>suppliers.xml</file>
				</suppliers>
			</updates>
		</layout>
	</adminhtml>
</config>
